table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 20px;
}

th,td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}

td:first-child {
    font-weight: bold;
}

td:last-child {
    font-weight: bold;
    text-transform: uppercase;
}

td:last-child > div {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: normal;
    color: #fff;
    text-align: center;
}